<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>s21_SmartCalc_v3</Name>
    <Version>3.0.0</Version>
    <Title>s21_SmartCalc_v3 installer</Title>
    <Publisher>Elidacon</Publisher>
    <StartMenuDir>s21_SmartCalc_v3</StartMenuDir>
    <TargetDir>@HomeDir@/s21_SmartCalc_v3</TargetDir>
    <RunProgram>@HomeDir@/s21_SmartCalc_v3/s21_SmartCalc_v3</RunProgram>
</Installer>
